body{
  font-size:18px;
}
 .flex-column{
  /* display:flex;
  align-items:flex-start;
  flex-direction: column;
  align-items: baseline; */
}
main{
  position: relative;
  width: 100%;
  height: 100vh;
}
.logo img{
  width:15rem;
  padding: 2rem 0;
  height: 80px;
}
.logo{
  height: 15%;
  width: 100%;
  padding-left: 30px;
}
.side-bar{
  background-color: #000000;
  width: 200px;
  height: calc(100% - 100px);
}
.home-side-bar{
  height: 20%;
  width: 100%;
}
.side-bar .left-green{
  border-left: 3px solid lightgreen;
}

nav{
  width: 100%;
  height: 100%;
}
nav a {
  font-size: 1.5rem;
  display: block;
  color:#777;
  font-size: 1.5rem;
  margin-right: 10px;
  padding-left: 3rem;
  padding: 0.5rem 3rem;

}
nav a:hover{
  text-decoration: none;
  color: #555858;
}
nav a img{
  width: 2.5rem;
}
.plus-playlist{
  width:26px;
  height: 26px;
  background-color: grey;
  display: inline-block;
  position: relative;
}
.vertical-center{
  display: flex;
}
.vertical-center p{
  display: inline-block;
  line-height: 30px;
  align-self: center;
  margin-left: 3px;
}
.plus-playlist i{
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-window{
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 200px);
  height: calc(100% - 80px);
  background-color: #141922;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;

}

.music-player{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.top-window{
  background-color: rgba(8, 11, 18, 0.6);
  width: 100%;
  height: 80px;
  display:flex;
  align-items: center;

  flex-direction: row-reverse;

}
.top-window button{
  height: 30px;
  border-radius: 25px;
  color: white;
  background-color: #080b12;
  border: 1px solid white;
  font-size: 15px;
  padding: 20px 30px;
  line-height: 0px;
}
.top-window button:hover{
  color: black;
  background-color: white;
}
.side-bar h3{
  color: white;
  font-size: 2rem;
  padding-left: 3rem;

}
.side-bar-header{
  height: calc(100% - 100px);
	min-height: 400px;
  width:100%;
}
.menu-side-bar-top{
  height: 65%;
	overflow-y:auto;
  width: 100%;
  max-height: 300px;
}
.menu-side-bar-bottom{
  height: 100px;
  width: 100%;
  color:#777;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.menu-side-bar-bottom small{
  padding-left: 30px;
  margin-bottom: 10px;
}
.menu-side-bar-bottom .grey-line{
  width: 70%;
  color:#777;
  border: 1px solid #777;
  display: inline-block;
  margin-left:  30px;
  margin-bottom: 10px;

}
.img-stranger {
  background-color: grey;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 30px;
  margin-bottom: 30px;
}
.menu-side-bar-bottom strong{
  display: inline;
  font-size: 13px;
  margin-bottom: 30px;
  margin-left: 5px;
  color: white;
}
.main-window img:hover{
  color: rgba(186,186,186,0.52);;
}
#section-1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;


}
#section-1 a{
  font-size: 12px;
  margin: 20px 20px;
  color: #777;
  padding: 5px;
  cursor: pointer;
}
#section-1 a:hover{
  border-bottom:1px solid lightgreen;
  text-decoration: none;
  border-bottom-width:2px;

}
#section-2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.titolo{
  color: white;
  font-weight: 600;
  margin-left: 6%;
}
.hover:hover{
  opacity: 1;
  background-image: url("../img/player.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

#section-2 img{
  width: 100%;
  opacity: 1;
  transition: 0.4s;
}
#section-2 img:hover{
  opacity:0.5;
}
#section-2 div{
  width: 180px;
  margin:15px 10px;

}
#section-2 div h4{
  color: white;
  font-weight: 600;
  text-align: center;
}
#section-2 div p{
  color: #777;
  text-align: center;
  font-size: 15px;
}
#section-3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}
#section-3 div{
  width: 180px;
  margin:15px 10px;

}

#section-3 img{
  width: 100%;
  opacity:1;
  transition: 0.4s;
}
#section-3 img:hover{
  opacity:0.5;
}
.titolo p{
  color: #777;
  font-size: 13px;
}
#section-3 div h4{
  color: white;
  font-weight: 600;
  text-align: center;
}
#section-3 div p{
  color: #777;
  text-align: center;
  font-size: 15px;
}
#section-4{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}
#section-4 div{
  width: 180px;
  margin:15px 10px;

}

#section-4 img{

  width: 100%;
  border-radius: 50%;
  opacity: 1;
  transition: 0.5s;
}
#section-4 img:hover{
  opacity:0.5;
}
#section-4 div h4{
  color: white;
  font-weight: 600;
  text-align: center;
}
#section-4 div p{
  color: #777;
  text-align: center;
  font-size: 15px;
}

.cover-part > *{
  display: inline-block;
  line-height: 100px;
  color: #777;

}
.line-break {
  height: 50%;
  line-height: 50px;
}

.cover-part{
  width: 180px;
  height: 100%;
  flex-shrink: 0;
}
.cover-part img{
  width: 50px;
  height: 50px;
  line-height: 100px;
}
.cover-image{
  height: 100%;
}

.cover-part h4{
  color: white;
  font-weight: 600;
}

.song-player{
  width: 60%;
  min-width: 340px;;
}
.song-player-top{
  width: 100%;
  height: 50%;
  display: inline-block;
  text-align: center;
}
.song-player-top > *{
  margin: 15px;
  color: white;
  font-size: 25px;

}
.song-player-top .fa-play-circle-o{
  font-size: 40px;
}
.song-player-bottom{
  width: 100%;
  height: 40%;
  display: inline-block;
  text-align:center;
}
.song-player-bottom .song-player-bottom-cont{
  width: 80%;
}
.song-player-bottom div span{
  color: white;
  font-size: 60%;
}
.song-player-bottom > *{
  display: inline;
}
.tool-player{
  width: 180px;
  height: 100%;
  flex-shrink: 0;
  line-height: 100px;
  color: white;
  font-size: 15px;

}
.tool-player div{
  width: 50%;
}
.tool-player i{
  width: 10%;
  padding-right: 10px;
}
.music-sound{
  width: 80px;
  border: 1px solid #777;
  background-color: #777;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 3px;
  margin-left: 5px;
}
.white-sound{
  width: 30px;
  border: 2px solid white;
}
.music-bar{
  width: 70%;
  border: 1px solid #777;
  background-color: #777;
  border-radius: 3px;
  display: inline-block;

}
.white-bar{
  width: 10%;
  border: 2px solid white;
}

@media screen and (max-width:768px) {
  .side-bar{
    width: 80px;
  }
  .main-window{
    width: calc(100% - 80px);
  }
  /* parte della xs sidebar */
  .flex-center{
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: 1;

  }
  .top-bar-xs{
    height: 85%;
  }
  .bottom-bar-xs{
    width: 100%;

  }
  .img-stranger{
    margin: 0 auto;
    display: block;
  }
  .flex-center > *{
    color: #777;
    height: 30px;
    width: 30px;
    margin-top: 10px;
    opacity: 1;

  }
  .flex-center > *:hover{
    opacity:0.6;
  }
}
